:root {
  --primary:#f4912f;
  --dark:#d66c02;
  --accent:#072d66;
  --error:rgb(167, 20, 20);
  --text:#333;
  --divider:#f5f3f3;
  --hint:#999;
  --font-family:'Poppins', sans-serif;
  --box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
  0 1px 3px 1px rgba(60, 64, 67, 0.15);
}